* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Roboto, sans-serif;
  background:linear-gradient(to right ,whitesmoke, white  );
  color: #222;
  line-height: 1.6;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* body > * {
  max-width: 800px;
  width: 100%;
} */

section{
  width: 95%;
  border-radius:10px;
  padding: 2rem;
  box-shadow: 0px 0px 8px grey;
}

h1 {
  text-align: center;
  color: #333;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  animation: slide-across 4s ease-in-out infinite;
  animation-delay: 2s;
}

@keyframes slide-across {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  25% {
    transform: translateX(0);
    opacity: 1;
  }
  75% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}


h2 {
  color: #444;
  font-size: 1.8rem;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  border-left: 5px solid #000000;
  padding-left: 0.5rem;
}

h3 {
  color: #555;
  font-size: 1.3rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 1.2rem;
  font-size: 1rem;
}

ul, ol {
  margin-left: 2rem;
  margin-bottom: 1.5rem;
}

li {
  margin-bottom: 0.5rem;
}

img {
  display: block;
  margin: 1.5rem auto;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 5px 5px 10px grey;
  transition: all 0.5s ease-in-out;
}

img:hover{
    box-shadow: 10px 10px 15px grey;
    transform: translateY(-15px);
}

footer {
  margin-top: 3rem;
  text-align: center;
  border-top: 1px solid #ccc;
  padding-top: 1rem;
  font-size: 0.9rem;
  color: #666;
  border-radius: 5px;
  width: 100%;
  max-width: 800px;
}
